section.prodEstoque{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 95%;
    margin: auto;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: white;
}
div.conatinerFiltro{
    width: 100%;
    height: 100%;
    margin: 10px 0px;
   
}
div.campFiltro{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}
div.campFiltro > span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 40px;
    margin: 5px;
    font-size: 0.9em;
    font-weight: bold;
    font-family: var(--fontMain);
    border: 3px solid #959595;
    background-color: transparent;
    cursor: pointer;
}
div.campFiltro > span:hover{
    transition: .2s;
    color: white;
    background-color: #959595;
}
div.cardEstoque{
    height: 320px;
}

@media screen and (max-width: 285px) {
    .mainTituloEstoque > p{
        font-size: 1.2em !important
    }
}