header{
    display: grid;
    justify-items: center;
    width: 100%;
    min-width: 280px;
    height: 140px;
    padding: 12px 15px;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 10%);
}
header > div#containerTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 700px;
    height: 60px;
    margin-bottom: 15px;
}
div#logo, div#logo > a, div#logo > a > img{
    display: block;
    width: 166px;
    height: 100%;
}

nav#navegation{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
div#campIcones{
    display: flex;
    align-items: center;
    gap: 15px;
    width: 90px;
    height: 100%;
}
div#campIcones > span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
div#campIcones > span > img{
    width: 35px;
    height: 35px;
}
span.Zindex{
    flex-direction: column;
    position: relative;
    /* z-index: 10; */
}
span.Zindex > span{
    display: block;
    width: 32px;
    height: 4px;
    margin: 6px 0px;
    border-radius: 5px;
    background: var(--colorBlue);
}
div.anima > .Zindex > span{
    visibility: hidden;
    margin: 0px;
}
span.Zindex::after, span.Zindex::before{
    content: '';
    display: block;
    width: 32px;
    height: 4px;
    border-radius: 5px;
    background: var(--colorBlue);
    transition: 0.3s;
}
div.anima > .Zindex::after{
    position: absolute;
    transform: rotate(45deg);
}
div.anima > .Zindex::before{
    position: absolute;
    transform: rotate(135deg);
}

div.pesquisa{
    display: flex;
    width: 100%;
    max-width: 700px;
    height: 35px;
}
div.pesquisa > div{
    display: flex;
    align-items: center;
    width: 85%;
    height: 100%;
}
div.pesquisa > div > input{
    width: 100%;
    height: 100%;
    padding-left: 5px;
    border: none;
    outline: none;
    border-radius: 5px 0px 0px 5px;
    font-size: 1em;
    background-color: #C1BABA;
}
div.pesquisa > span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 100%;
    border-radius: 0px 5px 5px 0px;
    background-color: #D9D9D9;
    cursor: pointer;
}
div.pesquisa > span > img{
    width: 85%;
    height: 85%;
}

div#menuMobile{
    visibility: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 0vw;
    min-width: 0px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .3s;
    background-color: #ffffff;
    z-index: 1;
}
div.ativo{
    width: 100% !important;
    min-width: 280px !important;
    right: 0 !important;
}
div#campUser{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 700px;
    min-width: 280px;
    height: 70px;
    padding: 10px;
    margin-top: 50px;
}
div#campUser > span{
    display: flex;
    align-items: center;
    width: 40px;
    height: 100%;
}
div#campUser > span > img{
    width: 40px;
    height: 40px;
}

div#campUser > div{
    display: grid;
    align-items: center;
    width: 100%;
    height: 40px;
    margin-left: 5px;
}
div#campUser > div > p{
    display: flex;
    align-items: center;
    height: 20px;
    font-family: var(--fontMain);
    font-size: 19px;
    font-weight: bolder;
    color: var(--colorBlue);
}
div#campUser > div > .txtMenor{
    font-size: 10px;
    color: black;
}

div#menuMobile > nav{
    width: 100%;
    max-width: 700px;
    min-width: 280px;
    height: calc(100vh - 285px);
    padding: 10px;
    margin: 10px 0px 30px 0px;
    overflow-y: auto;
}
div#menuMobile > nav > ul{
    width: 100%;
    height: 100%;
    list-style: none;
}
li.listMenu{
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border-bottom: 2px solid #175073;
    cursor: pointer;
}
li.listMenu > span{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-left: 5px;
}
li.listMenu > p{
    font-family: var(--fontMain);
    font-size: 20px;
    font-weight: bolder;
    color: #3d3d3d;
}

div#loginCad{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    min-width: 280px;
    height: 120px;
    padding: 10px;   
}
div#loginCad > button{
    width: 100%;
    height: 45px;
    color: white;
    font-size: 20px;
    font-family: var(--fontMain);
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    background-color: var(--colorBlue);
}
button.button2{
    margin-top: 10px;
    background-color: rgb(255, 145, 0) !important;
}

.container{
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 280px;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: hidden;
    background-color: #123C56;
    z-index: 1;
}
div.containerCartFavo{
    visibility: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 0vw;
    min-width: 0px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    transition: .3s;
    background-color: white;
}
div.active{
    width: 100% !important;
    min-width: 280px !important;
    right: 0px !important;
}
div.titulo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 700px; 
    height: 60px;
    margin-top: 15px;
    padding: 0px 0px 15px 10px ;
    overflow: hidden;
    border-bottom: 2px solid #3d3d3d;
}
div.titulo > h2{
    display: flex;
    align-items: center;
    height: 100%;
    color: #3d3d3d;
    font-family: var(--fontMain);
    font-size: 1.7em;
    font-weight: bolder;
}
div.titulo > span{
    display: flex;
    align-items: center;
    width: 50px;
    height: 60px;
    padding-right: 10px;
    cursor: pointer;
}
div.titulo > span > img{
    width: 40px;
    height: 40px;
}

div.carrinhoConteudo{
    width: 100%;
    max-width: 700px;
    height: calc(100vh - 75px);
    background-color: white;
}
div.carrinhoVazio{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;  
    min-width: 280px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.225);
}
div.carrinhoVazio > p{
    font-family: var(--fontMain);
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 10px;
}
div.carrinhoVazio > button{
    width: 70%;
    max-width: 240px;
    height: 40px;
    font-family: var(--fontMain);
    color: white;
    font-weight: 500;
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
    background-color: var(--colorBlue);
    cursor: pointer;
}

div.carrinhoCheio{
    /*display: block;*/
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #C1BABA;
}
div.carrinhoCheio > ul{
    width: 100%;
    height: calc(100% - 100px);
    overflow-y: auto;
    overflow-x: hidden;
}
#listaFavo{
    height: 100%;
}

/* Barra de Rolagem nos navegadores */
div.carrinhoCheio > ul::-webkit-scrollbar{
    width: 5px;
}
div.carrinhoCheio > ul::-webkit-scrollbar-track {
    background-color: #C1BABA; /* Cor do fundo da barra de rolagem */
  }
  div.carrinhoCheio > ul::-webkit-scrollbar-thumb {
    background-color: var(--colorBlue); /* Cor do polegar da barra de rolagem */
    border-radius: 5px;
}

/* Barra de rolagem no fire fox */
div.carrinhoCheio > ul{
    scrollbar-width: thin;
    scrollbar-color: var(--colorBlue) #C1BABA;
}

div.carrinhoCheio > ul > li{
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    background-color: white;
}

div.card{
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 280px;
    height: 100%;
    padding: 10px;
    position: relative;
}
div.img{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 80px;
    height: 80px;
    border-radius: 5px;
    background-color: #f0efef;
}
div.img > img{
    width: 70%;
    height: 70%;
    object-fit: cover;
}

div.tituloQuantidade{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 190px;
    height: 100%;
    margin-left: 5px;
    overflow: hidden;
}
div.tituloQuantidade > p{
    width: 100%;
    height: 50px;
    font-family: var(--fontMain);
    font-size: 1em;
    font-weight: 600;
    color: #3d3d3d;
    overflow: hidden;
}
div.tituloQuantidade > div{
    display: flex;
    align-items: end;
    width: 100%;
    height: 40px;
    overflow: hidden;
}
div.tituloQuantidade > div > button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 30px;
    color: white;
    font-size: 1.5em;
    border: none;
    border-radius: 3px 0px 0px 3px;
    background-color: var(--colorBlue);
    transition: .3s;
    cursor: pointer;
}
.buttonMais{
    border-radius: 0px 3px 3px 0px !important;
}
div.tituloQuantidade > div > button > img{
    width: 20px;
    height: 20px;
}
div.tituloQuantidade > div > span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 30px;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    font-family: var(--fontMain);
    background-color: #123C56;
}

span.iconFechar{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}
span.iconFechar > img{
    width: 100%;
    height: 100%;
}

div.card > p{
    display: flex;
    align-items: center;
    height: 30px;
    font-size: 1.3em;
    font-weight: bolder;
    font-family: var(--fontMain);
    position: absolute;
    right: 10px;
    bottom: 10px;
    overflow: hidden;
    transition: .3s;
}
div.card > p > span{
    padding-right: 2px;
}
@media screen and (max-width: 365px){
    div.tituloQuantidade{
        width: 150px;
    }
    div.tituloQuantidade > div > button{
        width: 28px;
        height: 30px;
    }
    div.tituloQuantidade > div > span{
        width: 35px;
        height: 30px;
    }
    div.card > p{
        font-size: 1em;
        bottom: 10px;
    }
}
@media screen and (max-width: 310px){
    div.card > p{
        font-size: .8em;
    }
    div.tituloQuantidade > div > button{
        width: 25px;
    }
    div.tituloQuantidade > div > span{
        width: 30px;
        font-size: .9em;
    }
}

div.finalizarCompra{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-width: 280px;
    height: 100px;
    border-top: 2px solid #3d3d3d;
    background-color: white;
}
div.finalizarCompra > button{
    width: 90%;
    height: 40px;
    margin-bottom: 5px;
    color: white;
    font-size: 1em;
    font-weight: bold;
    font-family: var(--fontMain);
    border: none;
    border-radius: 5px;
    background-color: var(--colorBlue);
}
@media screen and (max-width: 310px){
    div.finalizarCompra > button{
        font-size: .9em;
    }
}
div.finalizarCompra > p {
    font-size: 0.9em;
    font-weight: 600;
    text-decoration: underline;
    font-family: var(--fontMain);
}

div#containerFavo{
    visibility: hidden;
    width: 0vw;
    min-width: 0px;
}
div#vazioFavo{
    display: flex;
}
div#cheioFavo{
    display: none;
}

div.QuantFavo > div > button{
    width: 85%;
    font-size: 1.1em;
    border-radius: 5px;
    transition: .3s;
}
@media screen and (max-width: 400px){
    div.QuantFavo > div > button{
        width: 70%;
        font-size: 1em;
    }
}
div.QuantFavo > div > button > span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 30px;
    margin-right: 5px;
    cursor: pointer;
}
div.QuantFavo > div > button > span > img{
    width: 20px;
    height: 20px;
}
@media screen and (max-width: 360px){
    div.QuantFavo > div > button{
        width: 60%;
        font-size: 0.9em;
    }
    div.QuantFavo > div > button > span {
        width: 15px;
        height: 15px;
    }
    div.QuantFavo > div > button > span > img{
        width: 15px;
        height: 15px;
    }
}

.MQueryPC,  .pesquisaPC{
    display: none !important;
}

@media screen and (min-width: 701px){
    header{
        height: 80px;
        padding: 0px 15px;
    }
    #containerTop{
        justify-content: initial !important;
        max-width: 1200px !important;
        height: 100% !important;
        margin: initial !important;
        gap: 30px;
    }
    #navegation{
        justify-content: initial !important;
        width: calc(100% - 30px) !important;
        gap: 0px 30px;
    }
    .pesquisaPC{
        display: flex !important;
        align-items: center;
        width: calc(100% - 30px) !important;
        height: 100%;
        max-width: initial !important;
    }
    .pesquisaPC > input{
        width: 90%;
        height: 35px;
        padding-left: 10px;
        font-size: 1em;
        border: none;
        border-radius: 10px 0px 0px 10px;
        background-color: #C1BABA;
    }
    .pesquisaPC > span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10%;
        min-width: 50px;
        height: 35px;
        border-radius: 0px 10px 10px 0px;
        background-color: lightgray;
        cursor: pointer;
    }
    .pesquisaPC > span > img{
        width: 30px;
    }
    #campUserPC{
        display: flex !important;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 100%;
        gap: 0px 5px;
        cursor: pointer;
    }
    #campUserPC > span{
        width: 40px;
        height: 40px;
    }
    #campUserPC > p {
        width: 110px;
        height: 40px;
        margin-bottom: 4px;
        color: var(--colorBlue);
        font-weight: bolder;
        font-size: 1em;
        font-family: var(--fontMain);
    }

    #campfes{
        width: 130px !important;
    }

    .Zindex{
        display: none !important;
    }
    .mobilePesquisa{
        display: none !important;
    }
    .MQueryPC{
        display: flex !important;
    }
    div.logo{
        width: 3000px;
    }
    div.containerCartFavo{
        width: 100%;
        align-items: end;
        transition: .0s;
        background-color: rgb(0, 0, 0, 50%);
    }
    div.active{
        width: 100% !important;
        min-width: 280px !important;
        right: 0px !important;
    }
    div.titulo{
        width: 0%;
        max-width: initial;
        height: 70px;
        margin-top: 0px;
        padding: 0px 0px 0px 10px ;
        transition: .3s;
        background-color: white;
    }
    .active > .titulo{
        width: 450px;
    }
    div.titulo > span{
        height: 70px;
    }
    div.carrinhoConteudo{
        width: 0%;
        max-width: initial;
        height: calc(100% - 70px);
        transition: 0.3s;
        background-color: white;
    }
    .active > .carrinhoConteudo{
        width: 450px;
    }
}